/* 
    General Styles used on every website (Don't Repeat Yourself)
*/
.adlam-display-regular {
    font-family: "ADLaM Display", system-ui;
    font-weight: 400;
    font-style: normal;
  }

  * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  #root {
    height: 100vh;
  }

  /*Tama;o del mapa*/
  .leaflet-container {
    height: 100vh;
  }

  .custom-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 37px;
    color: red;
  }
