/* 
    General Styles used on every website (Don't Repeat Yourself)
*/

#dark {
    background: black;
    color: white;
}

.link-style {
    text-decoration: none;
    color: white;
}

.link-style:hover {
    text-decoration: underline;
    color: white;
}

.navbar-drop:hover {
    background: #f24c4e;
}

.btn-pink {
    background: #FE5558;
}

.jourlink {
    background: none;
    border: none;
    color: #FE5558;
}

.jourlink:hover {
    text-decoration: underline;
    cursor: pointer;
}

.nav-link {
    color: black;
}

.nav-link-dark {
    color: white;
}

.nav-link:hover {
    color: #FE5558;
}

.nav-link.active {
    background: rgb(32,36,40) !important;
}