section {
    display: flex;
    flex-direction: column;
    background-color: white;
    justify-content: center;
}

h1 {
    align-self: center;
    padding: 3rem;
}

form {
    display: flex;
    flex-direction: column;
    padding: 5rem;
    gap: 1rem;
}

.button1 {
    background-color: #eef07a;
    border-radius: 5px;
    border: #DFF2E9;
    color: #00444E;
    font-weight: 600;
}

.button1:hover {
    background-color: #F1F381;
    color: #00444E;
    border-radius: 10px;
}

.alert {
    align-self: center;
    padding: 2rem;
}