section {
    display: flex;
    flex-direction: column;
    background-color: white;
    justify-content: center;
}

h1 {
    align-self: center;
    padding: 3rem;
}

form {
    display: flex;
    flex-direction: column;
    padding: 5rem;
    gap: 1rem;
}

.btn{
    display: flex;
    justify-content: center;
}

.btn:hover {
    background-color: #E6A233;
    border-radius: 4px;
    color: #231F20;
}

.alert {
    align-self: center;
    padding: 2rem;
}