.profile-card {
    max-width: 18rem;
    margin: auto;
    background-color: #ced8d4!important; 
  }
  
  .profile-card .card-img-top {
    border-radius: 50%;
    width: 140px;
    height: 170px;
    margin: 0 auto;
    display: block;
  }
  
  
  .profile-card .card-title {
    font-size: 1.5rem;
    font-weight: bold;
    margin-top: 10px;
    text-align: center;
  }
  
  .profile-card .card-text {
    font-size: 1rem;
    color: #6c757d;
    text-align: center;
  }
  
  .about-me {
    margin-bottom: 20px;
  }
  
  .about-me h5 {
    font-size: 1.25rem;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .about-me p {
    font-size: 0.9rem;
    color: #555;
    line-height: 1.5;
  }
  
  .details p {
    font-size: 0.9rem;
    margin: 5px 0;
    color: #555;
  }
  
  
  .social-links {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-bottom: 20px;
  }
  
  .social-links a {
    display: inline-block;
    font-size: 1.5rem;  
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    color: #555;        
    transition: all 0.3s ease;
  }
  
  .social-links a:hover {
    transform: scale(1.2);
    color: #000;
  }
  
  .social-links .fab.fa-facebook-f:hover {
    color: #3b5998; 
  }
  
  .social-links .fab.fa-twitter:hover {
    color: #00aced; 
  }
  
  .social-links .fab.fa-linkedin-in:hover {
    color: #0077b5;
  }
  
  .profile-card .btn-primary {
    width: 100%;
    text-align: center;
    font-size: 1rem;
    padding: 10px;
    margin-top: 10px;
  }
  
  @media (max-width: 767px) {
    .profile-card {
      max-width: 100%;
      margin: 10px;
    }
  
    .profile-card .card-title {
      font-size: 1.25rem;
    }
  
    .profile-card .card-text {
      font-size: 0.875rem;
    }
  
    .social-links {
      gap: 10px;
    }
  
    .profile-card .btn-primary {
      font-size: 0.9rem;
    }
  }