.container {
    display: flex;
    justify-content: center;
}

.btn{
    display: flex;
    align-self: center;
}

.btn:hover {
    background-color: #E6A233;
    border-radius: 4px;
    color: #231F20;
  }

h4 {
    display: flex;
    align-self: center;
}

.container {
}