.containerBody {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #F0F2F1;
}

h1 {
  font-weight: 700;
  color: #00444E;
  text-shadow: 0px 0px 60px 0px rgba(0, 0, 0, 0.30);
  text-align: center;
}


.swipe {
  position: absolute;
}

.cardContainer {
  width: 90vw;
  max-width: 260px;
  height: 300px;
}

.card {
  position: relative;
  background-color: #fff;
  width: 80vw;
  max-width: 260px;
  height: 300px;
  box-shadow: 0px 0px 60px 0px rgba(0, 0, 0, 0.30);
  border-radius: 20px;
  background-size: cover;
  background-position: center;
  margin-top: 5vh;
}

.cardContent {
  width: 100%;
  height: 100%;
}

.card h3 {
  position: absolute;
  bottom: 0;
  margin: 10px;
  color: #fff;
}

.infoText {
  width: 100%;
  justify-content: center;
  display: flex;
  color: #fff;
  animation-name: popup;
  animation-duration: 800ms;
}

.buttons {
  margin: 20px;
  display: flex;
  margin-top: 15vh;
}

@media (max-width: 625px) {
  .buttons {
    flex-direction: column;
  }
}

.buttons button {
  flex-shrink: 0;
  padding: 10px;
  border-radius: 5px;
  border: none;
  color: #00444E;
  font-size: 18px;
  background-color: #F1F381;
  transition: 200ms;
  margin: 10px;
  font-weight: bolder;
  width: 160px;
  box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.10);
}

.buttons button:hover {
  transform: scale(1.05);
  box-shadow: 0px 0px 30px 20px rgba(0, 0, 0, 0.10);
}

@keyframes popup {
  0% {
    transform: scale(1, 1)
  }

  10% {
    transform: scale(1.1, 1.1)
  }

  30% {
    transform: scale(.9, .9)
  }

  50% {
    transform: scale(1, 1)
  }

  57% {
    transform: scale(1, 1)
  }

  64% {
    transform: scale(1, 1)
  }

  100% {
    transform: scale(1, 1)
  }
}