.navbarTop {
  display: flex;
  justify-content: center;
  background-color: #DFF2E9;
}
.button1 {
  background-color: #eef07a;
  border-radius: 5px;
  border: #DFF2E9;
  color: #00444E;
  font-weight: 600;
}

.button1:hover {
  background-color: #00444E;
  border-radius: 5px;
  border: #DFF2E9;
  color: #eef07a;
  font-weight: 600;
}

#navbarScroll{
  font-weight: 800;
}

.linkButtom:hover {
  background-color: #F1F381;
  color: #00444E;
  border-radius: 10px;
}

.searchButton {
  background-color: #DFF2E9;
  border: #DFF2E9;
}

  @media (max-width: 768px) {
  }

  
  @media (max-width: 480px) {
    
  }
